<%- include("../partials/header", {title: 'Snippets'}) %>

    <form method="POST">
        
        <input type="text" name="title" placeholder="Entrez un titre"></input>

        <br>

        <select name="lang">

            <% for (l of langs) { %>

                <option value="<%=l.id%>"><%=l.name%></option>

            <% } %>

        </select>

        <br>

        <input type="text" name="code" placeholder="Insérez votre code"></input>

        <br>

        <input type="text" name="description" placeholder="Décrivez votre code"></input>

        <br>

        <input type="submit" value="Créer"></input>

    </form>

    <script src="js/prism.js"></script>

</body>

<%- include("../partials/footer") %>